body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #ebe7df;
  background-color: #232323;
}
.global-box {
  width: 325px;
  height: 60px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-color: #232323;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.global-box p {
  padding: 19px;
  margin: 0;
  font-size: 17.5px;
}
.global-box.extra-left-margin p {
  margin-left: 60px;
}
.global-box.title-center {
  text-align: center;
}
[class^="global-box"] [class^="icon-"]:before {
  margin: 20px;
  font-size: 20px;
}
.global-box-btn-container {
  position: absolute;
}
.global-box-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: -1px;
}
.global-box-btn [class^="icon-"] {
  color: #fff;
}
.global-box-btn.left {
  border-left: O;
  border-right: 1px solid #ebe7df;
  border-color: rgba(255, 255, 255, 0.05);
}
.global-box-btn.right {
  left: 265px;
  border-left: 1px solid #ebe7df;
  border-color: rgba(255, 255, 255, 0.05);
}
.global-box-btn:hover {
  border-left: 0;
  border-right: 0;
  background-color: #1f7f5c;
}
.global-box-btn:hover [class^="icon-"] {
  color: #fff;
}
.button-enabled {
  border-left: 0;
  border-right: 0;
  background-color: #1f7f5c;
}
.button-enabled [class^="icon-"] {
  color: #fff;
}
.combo-box-submenu {
  display: none;
}
.combo-box-submenu-item {
  height: 60px;
  width: 326px;
  background-color: #1f7f5c;
  margin-left: -1px;
}
.combo-box-submenu-item:not(.last) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.combo-box-submenu-item [class^="icon-"] {
  color: #fff;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.combo-box-submenu-item span.submenu-title {
  font-size: 16px;
  color: #fff;
}
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?14690160");
  src: url("../font/fontello.eot?14690160#iefix") format('embedded-opentype'), url("../font/fontello.woff?14690160") format('woff'), url("../font/fontello.ttf?14690160") format('truetype'), url("../font/fontello.svg?14690160#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14690160#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity .8 */

  /* For safety - reset parent styles, that can break glyph codes*/

  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */

  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */

  /* remove if not needed */

  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

}
.icon-menu:before {
  content: '\f0c9';
}
/* '' */
.icon-sort:before {
  content: '\f0dc';
}
/* '' */
.icon-download-cloud:before {
  content: '\f0ed';
}
/* '' */
.icon-gift:before {
  content: '\1f381';
}
/* '\1f381' */
.icon-headphones:before {
  content: '\1f3a7';
}
/* '\1f3a7' */
.icon-search:before {
  content: '\1f50d';
}
.icon-ok:before {
  content: '\2713';
}
/* '✓' */
input[type="checkbox"] {
  margin-top: 0;
  margin-right: 10px;
}
.regular-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 9px;
  position: relative;
  margin-right: 10px;
  margin-top: 0px;
  background-color: #232323;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.regular-checkbox:checked {
  background-color: #1f7f5c;
}
.regular-checkbox:checked:after {
  font-family: 'fontello';
  font-size: 10px;
  content: '\2713';
  position: absolute;
  top: 4px;
  left: 5px;
  color: #fff;
}
.big-checkbox {
  padding: 18px;
}
.big-checkbox:checked:after {
  font-size: 18px;
  left: 11px;
  top: 9px;
}
label.checkbox {
  color: #232323;
  color: #fff;
}
input[type="radio"] {
  margin-top: 0;
  margin-right: 10px;
}
.regular-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 9px;
  position: relative;
  margin-right: 10px;
  margin-top: 0px;
  border-radius: 50px;
  background-color: #232323;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.regular-radio:checked {
  background-color: #1f7f5c;
}
.regular-radio:checked:after {
  font-family: 'fontello';
  font-size: 10px;
  content: '\2713';
  position: absolute;
  border-radius: 50px;
  top: 5px;
  left: 5px;
  color: #fff;
}
.big-radio {
  padding: 18px;
}
.big-radio:checked:after {
  font-size: 18px;
  left: 11px;
  top: 9px;
}
label.radio {
  color: #232323;
  color: #fff;
}
