
@header-width:100%;

.header{
	width: @header-width;
	height: 60px;
	border:0;
	background-color: #232323;
	color: #fff;
	position: absolute;
	p{
		text-transform: uppercase;
		text-align: center;
		padding:19px;		
		margin:0;
		font-size: @font-size-large;
	}
	.button{
		// display: inline-block;
		width:60px;
		height: 60px;
		position: absolute;
		top: 0;
		bottom: 0;
		span[class^="icon"]{
			font-size: 18px;
		}
		&.left { 
			float:left; 
			border-right:1px solid rgba(255, 255, 255, .1);
		}
		&.right {
		 float:right; 
		 border-left:1px solid rgba(255, 255, 255, .1);
		}
		&:hover{
			background-color: @green;
		}
	}
	&.filter-menu{
		border-top:1px solid rgba(255, 255, 255, .05);
		box-sizing:border-box;
		visibility: hidden;
		padding:15px;
		position: relative;
		z-index: 2;
		p{
			text-transform:none;
		}
		label{
			text-align: center;
		}
		.checkbox input[type="checkbox"] {
			float: none;
		}
	}
}